:root {
    /* Primary Color */
    --light_red: hsl(356, 100%, 66%);
    --very_lightRed: hsl(355, 100%, 74%);
    --very_darkBlue: hsl(208, 49%, 24%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grayish_blue: hsl(240, 2%, 79%);
    --very_darkGrayishBlue: hsl(207, 13%, 34%);
    --very_dark_black_blue: hsl(240, 10%, 16%);
    /* Gradient */
    --veryLight_red: hsl(13, 100%, 72%);
    --light_red: hsl(353, 100%, 62%);
    --very_dark_greyBlue: hsl(237, 17%, 21%);
    --very_dark_desaturatedBlue: hsl(237, 23%, 32%);
}

/* font-family: 'Overpass', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    position: relative;
}

img {
    width: 100%;
}
p {
    margin: 10px;
}

a {
    text-decoration: none;
    color: var(--white);
}

.txt_center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    color:hsl(0, 0%, 100%);
    background: #fff;
    width: 20px;
}


h5 small {
    margin-right: 5px;
    font-size: 16px;
}

h5 small:hover {
    text-decoration: underline;
}

h5 .fas {
    padding-top: 10px;
    margin-top: 1px;
}

.btn {
    padding: 0.8rem;
    border-radius: 100px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: background 0.45s ease-in-out;
    margin-right: 5px;
    border: 1.5px solid var(--white);
}



.btn.btn_white:hover {
    background: var(--white);
    color: var(--light_red);
    border: 0;
}
.btn.btn_outline {
    background: var(--white);
    color: var(--light_red);
}

.btn.btn_colorless {
    background: inherit;
    border: none;
    margin-left: 2rem;
}

.btn:hover {
    background: var(--very_lightRed);
    border: 0;
}

.primary_text {
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.buttons {
    margin-top: 2rem;
}

/* section one */

.container {
    margin: 2rem 0;
    padding: 2rem 8rem;
    overflow: hidden;
    z-index: 1;
}

.container_contents {
    position: relative;
    padding-bottom: 10rem;
    /* margin-bottom: 2rem; */
    padding-top: 7rem;
}

.container .txt_center {
    margin-bottom: 3rem;
}
.left_contents h2 {
    color: var(--very_darkBlue);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: left;
}

.left_contents p {
    margin-left: 0;
    line-height: 1.6;
}

.future_image {
    position: absolute;
    right: -28%;
    top: -15%;
    width: 690px;
}


/* Section 2 */
.blue_container-req {
    background-color: var(--very_dark_black_blue);
    background-image: url('../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: left -15rem top -35rem;
    height: 60vh;
    position: relative;
    margin-bottom: 2rem;
    padding: 5rem 0;
    border-bottom-left-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents_contains_b {
    padding: 2rem;
}

.left_image {
    width: 100%;
}

.left_image .blog_img {
    position: absolute;
    top: -92px;
    left: 5rem;
    width: 600px;
    padding: 0;
    margin: 0;
}

.left_contents_b {
    color: var(--white);
}

.left_contents_b p {
    margin-left: 0;
    line-height: 1.6;
}


.pre_footer .container {
    position: relative;
    width: 100%;
    /* height: 80vh; */
    padding: 14.5rem;
    padding-bottom: 0;
    margin-top: 5.67rem;
    /* margin-bottom: 2rem; */
}

.pre_footer_img {
    position: absolute;
    left: -14.2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
}

.right_content,
.contents_one_left {
    margin-bottom: 4rem;
}

.right_content h2 {
    color: var(--very_darkBlue);
    font-weight: 700;
    font-size: 1.3rem;
    text-align: left;
}

.right_content p {
    margin-left: 0;
    line-height: 1.6;
}

/* footer  */
.footer {
    margin-top: -4rem;
    padding-top: 0;
    background-color: var(--very_dark_black_blue);
    border-top-right-radius: 60px;
    position: relative;
    width: 100%;
    bottom: -10rem;
}

.footer_list_one ul li {
    display: flex;
    flex-direction: column;
}

.footer_list_one h5 {
    color: var(--white);
    font-size: 1.2rem;
}

.footer_list_one ul li a {
    margin-bottom: .5rem;
    font-size: .95rem;
}

.footer_list_one ul li a:hover {
    text-decoration: underline;
}

.footer_list_one ul li a:first-of-type {
    margin-top: .5rem;
}

.footer .container {
    padding: 2rem 5rem;
}

.footer-logo {
    align-self: flex-start;
    justify-self: center;
    margin-left: 1rem;
}

@media only screen and (max-width: 1220px) {
    .container {
        padding: 4rem;
    }
    .left_contents_b {
        margin-left: 4rem;
    }

    .future_image {
        right: -22%;
        width: 640px;
    }

    .left_image .blog_img {
        left: 2rem;
        width: 540px;
    }
    .pre_footer_img {
        width: 750px;
    }

}

@media only screen and (max-width: 1100px) {
    .pre_footer .container {
        padding: 2rem;
    }

    .left_image .blog_img {
        width: 500px;

    }

    .pre_footer_img {
        width: 700px;
    }

    .future_image {
        width: 580px;
        right: -29%;
    }
}

@media only screen and (max-width: 1010px) {
    .blue_container-req {
        height: 55vh;
    }


    .btn {
        width: 90px;
    }
}

@media only screen and (max-width: 892px) {
    .primary_text {
        font-size: 1.9rem;
    }
    .future_image {
        width: 500px;
        right: -29%;
    }
    .left_image .blog_img {
        width: 470px;
        left: 1rem;
    }

    .blue_container-req {
        height: 50vh;
    }

    .blue_container-req .container {
        padding: 0;
    }
    
}

@media only screen and (max-width: 836px) {

    .pre_footer_img {
        width: 600px;
    }
    .left_image .blog_img {
        width: 400px;
        left: 0.5rem;
        top: -4rem;
    }

    .blue_container-req {
        height: 40vh;
    }

    .future_image {
        right: -33%;
        top: 4rem;
    }

}

@media only screen and (max-width: 792px) {

    body {
        position: relative;
        z-index: -1;
    }

    .design_future {
        position: sticky;
        z-index: -1;
    }

    .design_future .container {
        margin-top: 0;
    }

    .container {
        padding: 0;
    }

    .txt_center {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .right_contents .future_image {
        margin-top: 0;
        padding-top: 0;
    }

    .left_contents {
        padding: 0 1rem;
    }

    h5 small:hover {
        text-decoration: none;
    }

    h5.not-active,
    h5.not-active .fas {
        color: var(--white);
    }

    .btn.btn_colorless {
        background: inherit;
        border: none;
    }


    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'first_one'
            'second_one';
    }

    .btn {
        border: 1.5px solid var(--very_lightRed);
        margin-bottom: 1.2rem;
    }

    .future_image{
        position: static;
        width: 100%;
    }

    .right_contents {
        grid-area: first_one;
    }
    .left_contents {
        grid-area: second_one;
    }
    

    .contents_image, .left_image {
        position: static;
        width: 100%;
    }


    .blue_container-req {
        height: 70vh;
    }

    .left_image {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    img {
        width: 100%;
    }

    .left_image .blog_img {
        margin: 0;
        padding: 0;
        width: 100%;
        top: -10rem;
    }

    .left_contents_b {
        margin: 0;
        padding: 0;
        margin-top: 30rem;
    }

    .contents_c.grid {
        grid-template-columns: 1fr;
    }

    .contents_image .pre_footer_img {
        top: 1.2rem;
        left: 55%;
        transform: translateX(-50%);
        width: 100%;
    }

    .right_contents_c {
        margin-top: 30rem;
    }

    .design_future .container .txt_center{
        padding: 0;
        margin: 0;
    }


}


@media only screen and (max-width: 550px) {
    .left_image .blog_img {
        top: -5rem;
    }   
    .right_contents_c {
        margin-top: 27rem;
    }
}
@media only screen and (max-width: 460px) {
    .left_image .blog_img {
        top: -1rem;
    }   
    .right_contents_c {
        margin-top: 23rem;
    }
}
@media only screen and (max-width: 400px) {
    .left_image .blog_img {
        top: -1rem;
    } 
    .right_contents_c {
        margin-top: 20rem;
    } 
    
    .footer_list_one {
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    .footer-logo {
        margin-bottom: 2rem;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

a {
    color: #fff;
}

body {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 80vh;
    background-image: url('../images/bg-pattern-intro.svg');
    background-image: 
        url('../images/bg-pattern-intro.svg'), 
        linear-gradient(to right, 
            hsl(13, 100%, 72%),
            hsl(353, 100%, 62%)
        );
    background-position: 25% 50%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 60px;
    padding: 2rem 4rem;
}
.humberger {
    display: none;
}

.nav {
    margin-top: 1rem;
}


.nav_logo {
    flex: 1;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

.nav_logo img {
    width: 70%;
}


.nav_one {
    flex: 6;
}

.nav_list {
    flex: 3;
    justify-content: flex-start;
    margin-left: 1rem;
    padding-left: 1rem;
}

.list .open_list{
    font-size: 1.2rem;
    color: #fff;
    margin-right: 1.8rem;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.list .open_list .fas {
    margin-left: 0.35rem;
    margin-bottom: -4px;
}

.sub_list {
    display: none;
    position: absolute;
    background: #fff;
    width: 110px;
    padding: 0.34rem;
    margin-top: 0.46rem;
    border-radius: 5px;
    transition: all 0.45s ease-in-out;
}

.sub_list li a {
    color: red;
}


.nav_two {
    flex: 2;
    justify-content: flex-end;
}
.secondary_nav {
    margin: auto;
    margin-top: 50px;
    /* width: 70%; */
    height: 70%;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
}

.primary_text {
    margin: 2rem 0;
    margin-top: 1rem;
    font-family: inherit;
    font-size: 3rem;
    font-weight: 700;
}

.header_text {
    margin-bottom: 3rem;
}


.btn {
    padding: 0.8rem;
    border-radius: 100px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: background 0.45s ease-in-out;
    margin-right: 5px;
    border: 1.5px solid #fff;
}

.btn:hover {
    background: red;
    border: 0;
}

.btn.btn_colorless {
    background-color: inherit;
    border: none;
    margin-right: 1.2rem;
}

.btn.btn_colorless:hover {
    background: red;
}

.btn.btn_outline {
    margin-right: 2rem;
    background: #fff;
    color: red
}

.btn.btn_outline:hover {
    background: inherit;
    border: none;
}

.btn.btn_white:hover {
    background: #fff;
    color: red;
    border: 0;
}

@media only screen and (max-width: 1200px) {
    header {
    height: 50vh;
    background-position: 37% 50%;
    }   
}

@media only screen and (max-width: 950px) {
    .nav_logo {
        flex: 2;
    }   
    .nav_one {
        flex: 5;
    }
    .btn.btn_colorless {
        margin-right: 0.5rem;
    }

    .list .open_list{
        margin-right: 0.78rem;
    }

    .nav_logo img {
        width: 100%;
    }

    .secondary_nav {
        margin-top: 0;
    }
    
}

@media only screen and (max-width: 892px) {
    header {
    height: 50vh;
    background-position: 37% 50%;
    background-size: auto;
    }   
}

@media only screen and (max-width: 836px) {
    .btn.btn_colorless,
    .buttons .btn.btn_outline {
        width: 120px;
    }

    .buttons .btn.btn_outline {
        margin-right: 1rem;
    }
}


@media only screen and (max-width: 800px) {
    .nav_list {
        margin-bottom: 2rem;
        justify-content: flex-end;
    }
    .nav_one {
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .btn.btn_outline {
        margin-right: 0;
    }
}

@media only screen and (max-width: 700px) {
    .nav_logo img{
        width: 25%;
    }  

    body {
        position: relative;
    }

    .nav_one {
        /* display: none; */
        background: red;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 1rem;
    }

    .nav_list, .nav_two {
        flex-direction: column;
    }

    .nav_list {
        width: 95%;
        padding-bottom: 6.5rem;
        border-bottom: 1px solid #333;
        margin: 0;
        position: relative;
    }

    .nav_two {
        margin-top: 1rem;
    }

    .nav_list .list {
        margin-bottom: 1.2rem;
    }

    .nav_list .list:first-of-type {
        margin-top: 1.2rem;
    }

    .sub_list.a {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        align-self: center;
        align-items: center;
        background-color: rgba(199, 199, 199, 0.993);
    }

    .sub_list.a li{
        margin-bottom: 0.85rem;
    }

    .humberger {
        display: block;
        float: right;
        margin-top: 1rem;
    }

    header {
        height: 70vh;
    }

    .primary_text {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
}

@media only screen and (max-width: 440px) {
    .primary_text {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    header {
        padding: 2rem 1rem;
    }
}
@media only screen and (max-width: 363px) {
    .primary_text {
        font-size: 1.3rem;
    }

   
}